
<!-- 1-dars -->
<!-- <button (click)="toggleText()">Matnni ko‘rsat/yashir</button>

<p *ngIf="showText">Salom, bu Angular directivalari darsi!</p>


<ul>
  <li *ngFor="let fruit of fruits">{{ fruit }}</li>
</ul>

<p [ngStyle]="{ color: isActive ? 'green' : 'red' }">
  Bu matnning rangi yashil yoki qizil bo‘ladi.
</p>

<button (click)="isActive = !isActive">Rangni o‘zgartirish</button> -->


 <!-- 5-dars -->
 <!-- <h1>Angular Forms Amaliyoti</h1>

 <h2>Template-Driven Form</h2>
 <app-template-form></app-template-form>
 
 <h2>Reactive Form</h2>
 <app-reactive-form></app-reactive-form>
 
 <h2>Vazifalar Ro‘yxati</h2>
 <app-task-form></app-task-form> -->
 
 <!-- 6-dars -->
 <nav>
  <a routerLink="/">Home</a> |
  <a routerLink="/tasks">Tasks</a>
</nav>
<router-outlet></router-outlet>
